@charset "UTF-8";

body{
background: #edf0f1;
padding: 8rem 0 0 0;

}


body, input, button {
    font-family: 'Roboto', sans-serif;
}


.noFill{
fill:none;

}

header {
    width: 100%;
    height: 8rem;
    position: fixed;
    padding: 1.5rem;
    top: 0;
    left: 0;
    z-index: 5;
    background: #25b99a;
    box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

header input {
    width: 100%;
    height: 5rem;
    float: left;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    text-indent: 1.8rem;
    padding: 0 6em 0 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem 2.5rem 2.5rem 0.5rem;
/*
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    border-top-right-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    
*/
    border: 0px;
    box-shadow: none;
    outline: none;

    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

header input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
}

header input:-moz-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
}

header input::-moz-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
}

header input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
}

header button {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 2;
    border-radius: 2.5rem;
    background: #fff;
    border: 0px;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    
      -webkit-appearance: none;
    -moz-appearance: none;
}

header button svg {
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -0.8rem 0 0 -0.8rem;
}

header button svg .fill {
    fill: #25b99a;
    
}

.container{
width: 100%;
    float: left;
    padding: 1.5rem;
    
}

ul.todo{
width: 100%;
float: left;
   
}

ul.todo li{
width: 100%;
float: left;
    font-size: 1.4rem;
    font-weight: 500;
    color: #444;
    line-height: 2.2rem;
    
min-height: 5rem;
    background: #fff;
    border-radius: 0.5rem;
    position: relative;
    box-shadow: 0 0.1rem 0.2rem rgba(44,62,80,0.1);
   margin: 0 0 1rem 0;
    padding: 1.4rem 10rem 1.4rem 1.4rem;
    word-break: break-word;
    
}

ul.todoli:last-of-type {
margin: 0;

}

/*
ul.todoli:last-child{
margin: 0;

}
*/


ul.todo li .buttons {
    width: 10rem;
    height: 5rem;
    position: absolute;
    top: 0;
    right: 0;
    
}



ul.todo li .buttons button {
    width: 5rem;
    height: 5rem;
    float: left;
    background: none;
    position: relative;
    border: 0rem;
    box-shadow: none;
    outline: none;
    cursor: pointer;
     -webkit-appearance: none;
    -mo-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none; 
    
}

ul.todo li .buttons button:last-of-type:before {
 content: '';
    width: 0.1rem;
    height: 3rem;
    position: absolute;
    top: 1rem;
    left: 0;
    background: #edf0f1;    
}



ul.todo li .buttons button svg {
width: 2.2rem;
    height: 2.2rem;
position: absolute;
    top: 50%;
    left: 50%;
    margin: -1.1rem 0 0 -1.1rem;

}

ul.todo li .buttons button svg .fill {
   -webkit-transition: fill 0.2s ease;
 -moz-transition: fill 0.2s ease;
   -ms-transition: fill 0.2s ease;
   -0-transition: fill 0.2s ease;
   transition: fill 0.2s ease;

}
ul.todo li .buttons button.remove:hover svg .fill {
    fill:#e85656;

}

ul.todo li .buttons button svg{
width: 2.2rem;
    height: 2.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1.1rem 0 0 -1.1rem;

}

ul.todo li .buttons button.remove svg .fill {
    fill:#c0cecb;
    
}

ul.todo li .buttons button.complete svg {
   border-radius: 1.1rem;
    border: 0.15rem solid #25b99a;
}

ul.todo#completed li .buttons button.complete svg {
background: #25b99a;
    border: 0rem;
    transition: background 002s ease;

}

ul.todo#completed li .buttons button.complete svg .fill{
fill:#fff;

}


ul.todo:not(#completed) li .buttons button.complete:hover svg {
    background: rgba(36,185,154,0.5);
    
}
ul.todo:not(#completed) li .buttons button.complete:hover svg.fill {
fill:#fff;    
}




ul.todo#completed li .buttons button.complete svg .fill{
fill:#fff;

}
















/*we added extra step*/
/*
.remove {
    width: 50px;
    height: 50px;
}

.complete {
    width: 50px;
    height: 50px;
}
*/














